<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="stringConnections"
      connectionString="Data Source=DESKTOP-R3RP8K6\SQLEXPRESS;Initial Catalog=adme;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <!--<add name="stringConnectionsCfe"
     connectionString="Data Source=DESKTOP-R3RP8K6\SQLEXPRESS;Initial Catalog=CFe;Integrated Security=True"
     providerName="System.Data.SqlClient" />-->

    <add name="stringConnectionsCfe" connectionString="Data Source=www.gproj.com.br;Initial Catalog=adme_teste;Persist Security Info=True;User ID=adme_teste;Password=@adme_teste12" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>